.gitignore
ffmpeg/fdk-aac.zip
ffmpeg/ffmpeg-snapshot.tar.bz2
ffmpeg/ffmpeg/
ffmpeg/ffmpeg_build/
ffmpeg/lame-3.99.5.tar.gz
ffmpeg/lame-3.99.5/
ffmpeg/last_x264.tar.bz2
ffmpeg/libvpx-1.6.0.tar.bz2
ffmpeg/libvpx-1.6.0/
ffmpeg/mstorsjo-fdk-aac-*
ffmpeg/opus-1.1.tar.gz
ffmpeg/opus-1.1/
ffmpeg/x264-snapshot-*
ffmpeg/yasm-1.3.0.tar.gz
ffmpeg/yasm-1.3.0/
SDL/libsdl1.2-1.2.15/
SDL/libsdl2-2.0.2+dfsg1/
SDL/sdl1.2_build/
SDL/sdl2_build/
player/LYNplayer
player/*.o

